<% provide :page_title, t('.title') %>
<% currently_at t('menu.games') %>

<h1 class="mb-4">
  <%= t('.title') %>
  <small>на игру <%= @game.title %></small>
</h1>

<div class="mb-3">
  <%= link_to 'Команды и составы', game_playing_teams_path(@game), class: 'btn btn-secondary' %>
  <% if policy(@game).index_answers? %>
    <%= link_to 'Результаты', game_answers_path(game_id: @game), class: 'btn btn-info' %>
  <% end %>
  <%= link_to 'К списку игр', games_path, class: 'btn btn-secondary' %>
</div>

<article>
  <%= render @questions %>
</article>

<small>Вопросы либо написаны командой сайта, либо взяты с ресурса db.chgk.info</small>