<tr>
  <td>
    <%= link_to playing_team.game.title, game_path(playing_team.game), data: {turbo_frame: '_top'} %>
  </td>

  <td>
    <% if playing_team.game.starts_at.present? %>
      <%= l playing_team.game.starts_at, format: :long %>
    <% end %>
  </td>

  <td>
    <span class="badge bg-info d-inline-block me-2">
      <%= playing_team.total_answered %> / <%= playing_team.game.questions_count %>
    </span>
  </td>

  <td>
    <span class="badge bg-success d-inline-block me-2">
      <%= playing_team.place %> / <%= playing_team.game.playing_teams_count %>
    </span>
  </td>

  <td>
    <ul class="list-unstyled">
      <% playing_team.game_players.each do |game_player| %>
        <li>
          <%= link_to game_player.name, user_path(game_player.user), data: {turbo_frame: '_top'} %>
          <% if game_player.captain? %>
            <span class="text-warning"><strong>К</strong></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </td>
</tr>