<%= turbo_frame_tag team_game do %>
  <%= form_with model: [:admin, team_game.game, team_game], data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"} do |f| %>
    <%= render 'shared/errors', object: team_game %>
    
    <div class="mb-3 row">
      <div class="col-sm-2 col-form-label">
        <%= f.label :team_id %>
      </div>

      <div class="col-sm-10">
        <%= f.collection_select :team_id, Team.all, :id, :title, {}, class: 'form-select' %>
      </div>
    </div>

    <%= f.submit t('global.button.submit'), class: 'btn btn-primary' %>
  <% end %>
<% end %>