<% provide :page_title, t('.title') %>
<% currently_at t('menu.leaders') %>

<h1 class="mb-4"><%= t('.title') %></h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Игр</th>
      <th>Побед</th>
      <th>%</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= gravatar_for user: user %>
          <%= link_to user.name, user_path(user) %>
        </td>
        <td>
          <%= user.games_played %>
        </td>
        <td>
          <%= user.games_won %>
        </td>
        <td>
          <%= (user.games_won / user.games_played.to_f) * 100 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>