<div class="card mb-4">
  <% if game.starts_at.present? %>
    <div class="card-header">
      <%= l game.starts_at, format: :longer %>
    </div>
  <% end %>

  <div class="card-body">
    <h4 class="card-title">
      <%= link_to_if policy(game).show?, game.title, game_path(game) %>
    </h4>

    <p class="card-text">
      <%= game.description %><br>
      Ведущий: <%= link_to game.host.name, user_path(game.host) %>
    </p>

    <% if policy(game).index_answers? %>
      <%= link_to 'Результаты', game_answers_path(game_id: game), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Команды и составы', game_playing_teams_path(game), class: 'btn btn-secondary' %>
  </div>
</div>