<h2>
  <%= link_to game.title, game_path(game), data: {turbo_frame: '_top'} %>
</h2>

<% if game.starts_at.present? %>
  (<%= l game.starts_at, format: :longer %>)
<% end %>

<br>

<p>Ведущий: <%= game.host.name %></p>

<p>
  <small>
    <%= game.description %>
  </small>
</p>

<%= link_to 'Результаты', game_answers_path(game_id: game), class: 'btn btn-info' %>
<%= link_to 'Команды и составы', game_playing_teams_path(game), class: 'btn btn-secondary' %>

<hr>