<% provide :page_title, @game.title %>
<% currently_at t('menu.games') %>

<h1 class="mb-4"><%= @game.title %></h1>

<% if @game.finished? %>
  <p class="lead">Игра завершена!</p>

  <%= link_to 'Результаты', game_answers_path(game_id: @game), class: 'btn btn-info' %>
  <%= link_to 'Команды и составы', game_playing_teams_path(@game), class: 'btn btn-secondary' %>
<% else %>
  <%= turbo_stream_from(@game, :questions) %>

  <% if @game.hosted_by? current_user %>
    <% if @game.current_question.present? %>
      <%= render 'game_actions/finish_question' %>
    <% else %>
      <%= render 'game_actions/next_question' %>
    <% end %>
  <% end %>
  
  <% if @game_player.present? %>
    <p class="lead">Команда <strong><%= @game_player.playing_team.title %></strong></p>
  <% end %>

  <article data-controller="timer" id="question-data" class="mb-5">
    <% if @game.current_question.present? %>
      <%= render 'game_actions/timer' %>
      <%= render 'questions/current_question', question: @game.current_question %>
    <% end %>
  </article>

  <% if @game_player&.captain? %>
    <%= tag.article data: {controller: 'answers', action: 'timer:toggle@window->answers#toggleForm'} do %>
      <%= form_with url: root_path, class: "#{'d-none' unless @game.current_question.present?}",
        data: {'answers-target': 'answerForm'} do |f| %>
        <%= f.hidden_field :game_id, value: @game.id %>
        <%= f.hidden_field :question_id, value: @game.current_question&.id %>

        <div class="mb-3 row">
          <div class="col">
            <%= f.text_area :answer, class: 'form-control', placeholder: 'Ответ...', id: 'team-answer' %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>