<% provide :page_title, @game.title %>
<% currently_at t('menu.games') %>

<h1 class="mb-4"><%= @game.title %></h1>

<% unless @game.finished? %>
  <%= turbo_stream_from(@game, :questions) %>

  <% if @game.hosted_by? current_user %>
    <% if @game.current_question.present? %>
      <%= render 'questions/finish_question' %>
    <% else %>
      <%= render 'questions/next_question' %>
    <% end %>
  <% end %>

  <article data-controller="timer" id="question-data">
    <% if @game.current_question.present? %>
      <%= render 'timer' %>
      <%= render 'questions/current_question', question: @game.current_question %>
    <% end %>
  </div>
<% end %>