<%= turbo_frame_tag question, class: 'item', data: {id: question.id} do %>
  <section class="mb-3">
    <p>
      <span class="badge bg-info"><%= question.position %></span>
      <strong><%= question.body %></strong>
    </p>
    
    <p>
      <%= question.answer %>
    </p>

    <%= link_to t('global.button.edit'), edit_admin_game_question_path(question.game, question),
      class: 'btn btn-info btn-sm', data: {action: 'click->sortable#disable'} %>
    <%= link_to t('global.button.delete'), admin_game_question_path(question.game, question),
      class: 'btn btn-danger btn-sm',
      data: {turbo_method: :delete, turbo_confirm: t('global.dialog.sure')} %>

    <hr>
  </section>
<% end %>